<div class="container pt-5 my-5">
    {{>_msg}}
    <h2>Opções do administrador: </h2>
    <hr>
    <div class="card mt-4 d-flex align-items-center fs-4 text ">
        <div class="card-body ">
            <a href="/admin/categorias">Categorias</a>
        </div>
    </div>
    <div class="card mt-4 d-flex align-items-center fs-4 text">
        <div class="card-body ">
            <a href="/admin/postagens">Postagens</a>
        </div>
    </div>
    
   
</div>