<div id='footer' class='d-flex bg-dark text-white justify-content-between pt-3'>
    <p class= 'ms-5'>Alguns direitos reservados</p>
    <div>
        <a href="https://github.com/felipeblobo"><i class="fab fa-github-square fa-2x me-2"  style="color:rgb(121, 117, 117)";></i></a>
        <a href="https://www.linkedin.com/in/felipe-bastos-l%C3%B4bo-silva-7b8380201/"><i class="fab fa-linkedin fa-2x" style="color:rgb(121, 117, 117)"></i></a>
    </div>
    <p class= 'me-5 '>Salvador, Bahia</p>
</div>