#cover {
    background: url('../img/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
};

#midleCover {
    
    background-color: #207e7e;
}

body {
    background-color: #404952;
    font-family: 'Open Sans Condensed', sans-serif;
}

#tituloPrincipal {
    font-family: 'Dancing Script', cursive;
}