#cover {
    background: url('../img/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
};

#midleCover {
    
    background-color: #207e7e;
}

body {
    background-color: #b3b3b3;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

.card {
    background-color: #e6e3e3;
}

.textShadow {
    text-shadow: 1px 1px 2px black;
    
}

#tituloPrincipal {
    font-family: 'Dancing Script', cursive;
    
}

.cardIndex {
    width: 50%
}

/* Login and Registro */

.entryCard {
    
    width: 30%
}

footer {
    font-size: 0.8rem;
    width: 100%;
}

@media (max-width: 425px) {
    #header {
        padding-top: 1rem !important;
    }
        
    .headerText {
        font-size: 1.2rem !important;
    }    
    
    #cover {
        background-position: right center;
    }
    
    #tituloPrincipal {
        margin-top: 0 !important;
        margin-bottom: 1rem !important
    }

}

@media (max-width: 1024px) {

    .entryCard {
        
        width: 95%
} 

    #tituloPrincipal {

    margin-top: 0 !important;
    margin-bottom: 1rem !important
}

}
