#cover {
    background: url('../img/cover.jpg');
    background-size: cover;
    background-position: 25% 75%;
    background-repeat: no-repeat;
    height: 650px;
};

#midleCover {
    
    background-color: #207e7e;
}

body {
    background-color: #b3b3b3;
    font-family: 'Open Sans Condensed', sans-serif;
}

#tituloPrincipal {
    font-family: 'Dancing Script', cursive;
}

@media (max-width: 425px) {

    #cover {
        background-position: right center;
    }

}