<div class="container mt-5">
    <h4 class='pt-5'>Categorias: </h4>
    <hr class='mb-5'>

    {{#each categorias}}
    <a href="/categorias/{{slug}}">
        <h5>{{nome}}</h5>
    </a>
    {{else}}

    {{/each}}
</div>