<div class="container mt-5">
    {{>_msg}}
    <h2 class='pt-5'>Categorias: </h2>
    <hr class='mb-5'>

    {{#each categorias}}
    <a href="/categorias/{{slug}}">
        <h5>{{nome}}</h5>
    </a>
    {{else}}

    {{/each}}
</div>